<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <input #input type="text" placeholder="Filter by body" (input)="searchTerm = $event.target.value"> <br>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <input #input type="text" placeholder="Filter by owner" (input)="targetOwner = $event.target.value"><br>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <input #input type="text" placeholder="Filter by category" (input)="targetCategory = $event.target.value"><br>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <input #input type="text" placeholder="Filter by status" (input)="targetStatus = $event.target.value">
    </li>
    <li class="list-group-item list-group-item-info">Todo Name</li>
    <li *ngFor="let todo of todos | filterBy: {body: searchTerm} | filterBy: { owner: targetOwner } | filterBy: { category: targetCategory } | filterBy: { status: targetStatus }" class="list-group-item">
        {{ todo.owner }}'s {{ todo.category }} todo: <br>
        {{ todo.body }}
    </li>
</ul>
